/************/
#column-left { float:left;}
#main_index { float:left;}
/*  ----------------------- MAIN STYLES -----------------------  */
#shop_nav1 { background:#333;}
#shop_nav1 li { display:block; position:relative; float:left;}
#shop_nav1 li a { display:block; padding:0 5px;}
#shop_nav1 li ul { display:none; position:absolute; padding:5px 2px;}
#shop_nav1 li ul li { display:inline;}
#shop_nav1 li ul li a { display:inline; line-height:25px;}
#shop_nav1 li:hover ul { display:block; position:absolute; background:#333; width:400px;}
#shop_nav1 li:hover ul li { display:block; margin:0; padding:0; float:left;}
#shop_nav1 li:hover ul a { color:#fff;text-transform:capitalize; font-size:11px; font-weight:normal;}
#shop_nav1 li:hover ul a:hover { color:#fff;} 




/*********/
.productSpecialPrice { font-size:1.2em;}


/*************** Products list ***********/
.margin-col { border:1px solid #ccc;
    margin:2px;
	float:left;	
	  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.centerBoxContentsProducts { margin-left:3px;}
.productlist-img { height:170px; overflow: hidden; padding-top:5px;}
.productlist-name { height:50px; margin-top:10px;}
.margin-col img { margin-top:10px;}
#productListing .productlist-name a { color:#333; font-size:11px; line-height:13px;}
#productListing .productlist-name a:hover { color:#c00;}
.productlist-buttons { margin:5px auto;}

.newproducts { 
border: 1px solid #DEE5EF;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin: 4px 3.5px 10px;
    padding-bottom: 1px;
    padding-top: 1px;
    text-align: center;
    width: 181px;}
.inde_img { height:170px; overflow:hidden; text-align:center; padding-top:5px;}
.inde_name { height:50px; margin:0 5px;}
.inde_name a { color:#333; text-align:left;}
.inde_pre { text-align:center; margin:5px auto;}



/*******详细页*****/
#left_info {
    border: 0 solid #C7C7C7;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-right: 26px;
    margin-top: 0;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-top: 10px;
    width: 380px;
}
.bannerinfoleftimages {
    border: 1px solid #C7C7C7;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-bottom: 5px;
    margin-right: 26px;
    margin-top: 4px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-top: 20px;
    width: 380px;
}
.bannerinfoleftright {
    border: 0 solid #C7C7C7;
    border-radius: 5px 5px 5px 5px;
    float: left;
    margin-top: 5px;
    padding-left: 0;
    padding-top: 4px;
    width: 550px;
}
.bannerinfo023 {
    float: right;
    margin-bottom: 5px;
    margin-left: 0;
    margin-right: 10px;
    width: 960px;
}
.bannerrighttop {
    background: url("../images/recommendationsTop.gif")/*tpa=http://www.sneakersesoutlet.com/includes/templates/default/images/recommendationsTop.gif*/ no-repeat scroll left center transparent;
    color: #781C31;
    font-size: 14px;
    height: 34px;
    line-height: 34px;
    margin-bottom: 5px;
    margin-top: 0;
    padding-left: 20px;
    text-align: left;
}
.bannerlimlist {
    text-align: center;
}
.bannerlimlist {
    border: 1px solid #A6C992;
    border-radius: 4px 4px 4px 4px;
    float: left;
    margin-left: 11px;
    margin-top: 6px;
    overflow: hidden;
    padding: 10px 1px 0;
    text-align: center;
    width: 175px;
}
a:link, #navEZPagesTOC ul li a {}
.bannerlimlist img {
    height: 130px;
    width: 130px;
}
.liunn {
    height: 50px;
    overflow: hidden;
    padding-top: 10px;
}
.liuop .normalprice {
    font-size: 14px;
}
.normalprice {
    color: #000000;
    font-size: 12px;
    text-decoration: line-through;
    text-transform: lowercase;
}
.liuop .productSpecialPrice {
    font-size: 18px;
}
.productSpecialPrice {
    color: #C61010;
    font-size: 15px;
	font-weight:bold;
    text-transform: lowercase;
}
#itemQualifies {
    clear: both;
    float: left;
    margin: 0 auto 10px;
    width: 388px;
}
#itemQualifiesTop {
    background-color: #E4EEDE;
    border: 1px solid #A6C992;
    border-radius: 5px 5px 0 0;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    line-height: 22px;
    padding: 2px 5px;
}
#itemQualifiesContent {
    border-bottom: 1px solid #C6C7C6;
    border-left: 1px solid #C6C7C6;
    border-radius: 0 0 5px 5px;
    border-right: 1px solid #C6C7C6;
    width: 386px;
}
.PDShippingPromoText {
    font-weight: bold;
    padding-left: 5px;
}
.back {
    float: left;
}
.PDPromoQuickShipText {
    font-weight: bold;
    padding-top: 7px;
}
.PDPromoQuickShipText {
    font-weight: bold;
}
#productMainImage img {}
#choose_size_and_buy {
    background: none repeat scroll 0 0 #E4EEDE;
    border: 1px solid #A6C992;
    border-radius: 4px 4px 4px 4px;
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 15px;
    width: 510px;
}
.bannerinfoleftright h1 {
    color: black;
    font-size: 16px;
    margin-bottom: 3px;
    margin-left: 0;
    padding-top: 10px;
}
.bannerinfodescription {
    background: none repeat scroll 0 0 #E4EEDE;
    border: 1px solid #A6C992;
    border-radius: 5px 5px 5px 5px;
    clear: both;
    font-size: 11px;
    font-weight: normal;
    padding: 15px;
    width: 496px;
}
.bannerinfoprice {
    clear: both;
    padding: 5px 0;
}
.normalprice {
    color: #000000;
    font-size: 13px;
	font-weight:bold;
    text-decoration: line-through;
    text-transform: lowercase;
}
.bannerinfo_cart .productSpecialPrice {
    color: #E00E4D;
    font-size: 18px;
    font-weight: bold;
    margin: 8px auto;
}
.bannerinfo_cart ul { list-style:none; margin:0; padding:0;}
#productAttributes {
    margin-bottom: 5px;
}
.wrapperAttribsOptions {
    margin: 0.3em 0;
}
LABEL, h4.optionName {
    line-height: 1.5em;
}

.required {
    color: #EB340A;
    float: left;
    margin-top: 9px;
}
.wrapperAttribsOptions .back {
    margin-left: 10px;
    margin-top: 2px;
}
.wrapperAttribsOptions h4.optionName { line-height:10px; float:left;}
#attrib-1 {
    border: 0 solid #FFFFFF;
    height: auto;
    overflow: auto;
}
.back ul li.selectAttr {
    background-color: #56972F;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}
.back ul li {
    float: left;
    line-height: 20px;
    list-style: none outside none;
    margin: 0 4px 4px 1px;
    min-width: 22px;
    padding: 1px;
    position: relative;
    vertical-align: middle;
}
.back ul li span {
    border-radius: 5px 5px 5px 5px;
    display: block;
    font-size: 14px;
    font-weight: 700;
    padding: 3px;
}
.back ul li.selectAttr {
    background-color: #56972F;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}
.back ul li.selectAttr:hover {
    background-color: #FF6600;
    border: 1px solid orange;
}
.back ul li.select {
    background-color: orange;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
}
.text {
    font-size: 15px;
    font-weight: 700;
}
.wrapperAttribsOptions .back {
    margin-left: 10px;
    margin-top: 2px;
}
.cart {
    margin-bottom: 10px;
    overflow: auto;
    padding-left: 5px;
}
.cartAddleft {
    float: left;
    margin-left: 0;
    margin-top: 10px;
}
.cartAddleft input {
    border: 1px solid #94AEC6;
}
.cartAddright {
    float: left;
    margin-left: 30px;
}
#createAcctDefault span.alert ,#categoriesHeading{ display:none;}

#whatsNew div:hover.newproducts ,#featuredProducts div:hover.newproducts, #specialsDefault div:hover.newproducts {
		-webkit-box-shadow:1px 1px 3px #292929;
	-moz-box-shadow:1px 1px 3px #292929;
	box-shadow:1px 1px 3px #292929;
}
.leftBoxHeading {
    background-image: url("../images/tail-menu.gif")/*tpa=http://www.sneakersesoutlet.com/includes/templates/default/images/tail-menu.gif*/;
    background-position: center center;
    background-repeat: repeat-x;
    border-bottom: 1px solid #090909;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF !important;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 15px !important;
    padding-right: 0;
    padding-top: 0;
    text-align: left;
    text-transform: uppercase;	}
#specials h3 a { color:#fff; line-height:30px; font-size:13px; }	
#specials a {font-size:11px; line-height:12px; }
#specials a:hover { color:#c00;}
.sideBoxContentItem { margin:5px; border:1px solid #ccc;  border-radius:5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}


#indexProductList div:hover.margin-col  { border: 1px solid #CC0000;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 6px #000000 inset;
    color: #BA1E2C;}
.list_img { height:170px; }	

.must {
    background: url("../images/validation_advice_bg.gif")/*tpa=http://www.sneakersesoutlet.com/includes/templates/default/images/validation_advice_bg.gif*/ no-repeat scroll 0 0 transparent;
    clear: both;
    color: #FFAF00;
    font-size: 12px;
    line-height: 1.25em;
    margin-top: 3px;
    min-height: 15px;
    padding-left: 15px;
}
#attrib-1{
	height:auto;
	width:400px;
	border: 0px solid #fff;
    overflow: auto;
}
.s-1 {
    border: 1px dashed #eee !important;
    overflow: auto;
    padding: 2px 2px;
}
.required {
    color: #EB340A;
    float: left;
    margin-top: 9px;
}
.wrapperAttribsOptions .back {
    margin-left: 10px;
    margin-top: 2px;
}
.wrapperAttribsOptions h4.optionName { line-height:10px; float:left;}
#attrib-1 {
    border: 0 solid #FFFFFF;
    height: auto;
    overflow: auto;
	width:260px;
}
.back ul li.selectAttr {
    background-color: #56972F;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}
.back ul li {
    float: left;
    line-height: 20px;
    list-style: none outside none;
    margin: 0 4px 4px 1px;
    min-width: 22px;
    padding: 1px;
    position: relative;
    vertical-align: middle;
}
.back ul li span {
    border-radius: 5px 5px 5px 5px;
    display: block;
    font-size: 11px;
    font-weight: 700;
    padding: 0px;
	color:#fff;
}
.back ul li.selectAttr {
    background-color: #56972F;
    border: 1px solid #56972F;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
	margin:1px;
}
.back ul li.selectAttr:hover {
    background-color: #FF6600;
    border: 1px solid orange;
}
.back ul li.select {
    background-color: orange;
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
	margin:1px;
		background-position: -418px -158px;

}
.text {
    font-size: 15px;
    font-weight: 700;
}
.wrapperAttribsOptions .back {
    margin-left: 10px;
    margin-top: 2px;
}

#selectsize .text { color:#ffcd00;}
.extra {
    margin: 0 auto;
    text-align: left;
    width: 980px;
	background:#fff;
	  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius: 4px;
}
#headerFrameCartCheckoutContainer { background:url("../images/header_cart.png")/*tpa=http://www.sneakersesoutlet.com/includes/templates/default/images/header_cart.png*/ no-repeat; position:absolute; right:0px; top:65px;}
#headerFrameCartCheckoutContainer a { color:#786562; font-size:12px; line-height:30px; text-indent:40px;}
#headerFrameCartCheckoutContainer a:hover { color:#fff;}

.copyright {
    color: #5A6458;
    font-size: 11px;
    line-height: 20px;
    padding: 14px 0 0;
	width:980px;
	margin:0 auto;
	border-top:1px solid #000;
	background:url("../images/footer_cards.png")/*tpa=http://www.sneakersesoutlet.com/includes/templates/default/images/footer_cards.png*/ no-repeat 700px 17px;
	text-indent:15px;
}
.copyright a { color:#fff;}